* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

/* josefin-sans-regular - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v24-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v24-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v24-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/josefin-sans-v24-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v24-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v24-latin-regular.svg#JosefinSans")
      format("svg");
  /* Legacy iOS */
}

/* josefin-sans-700 - latin */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v24-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/josefin-sans-v24-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/josefin-sans-v24-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/josefin-sans-v24-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/josefin-sans-v24-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/josefin-sans-v24-latin-700.svg#JosefinSans") format("svg");
  /* Legacy iOS */
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fbfbfb;
  list-style: none;
  // background-color: rgb(26, 25, 25);
  overflow-x: hidden;
}

html {
  width: 100%;
  scroll-padding-top: 100px;
}

main {
  margin: 5% 0;
}

.navbar-nav {
  background-color: transparent;
  margin: 0 auto;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  padding: 0;
  margin: 0;

  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Josefin Sans";
  font-weight: 400;
}

p {
  font-family: "Josefin Sans";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans";
}

img {
  transition: 2s all;

  &:hover {
    transform: scale(1.01);
  }
}

.container {
  max-width: 1045px;
}

.row {
  justify-content: center;
  row-gap: 3rem;
}

/*Header section */
header {
  width: 100%;
  height: 100%;
  background: #000000;
  background: linear-gradient(90deg, #000000d2 0%, #000000bb 100%, #000000 100%),
    url(/assets/img/background-img.webp);
  background-repeat: no-repeat;
  background-position: center;

  .main-header {
    width: 100%;
    height: 100vh;

    nav {
      background-color: rgb(255, 255, 255);
      position: fixed;
      width: 100%;
      z-index: 10;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #d4d4d4;
      padding: 0;

      .visit-us {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #1c1c1c;

        p {
          color: #ffffff;
          text-align: center;
          padding: 5px 0;
          margin: 0;
          font-size: 14px;
          font-family: "Josefin Sans";

          span {
            color: GOLD;
          }
        }
      }

      .container-fluid {
        padding: 0 1rem;
        .navbar-brand {
          font-family: "Lato", sans-serif;
          text-decoration: none;
          font-size: 16px;
        }
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            color: #000000;
            text-transform: uppercase;
            font-size: 14px;
            padding: 20px 30px;

            &:hover {
              background-color: #1c1c1c;

              color: #ffffff;
            }
          }
        }
      }
    }
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      text-align: center;
      color: #fffc34;
      font-size: 60px;
      font-weight: 700;
      padding-bottom: 2%;
    }

    .btn {
      width: max-content;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 2.5rem;

      a:first-child {
        background-color: #f3d00b;
        color: #000000;
      }

      .button {
        padding: 15px;
        display: flex;
        align-items: center;
        border: 2px solid #ffffff;
        border-radius: 5px;
        background: transparent;
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        line-height: 1;

        &:hover {
          background-color: #f3d00b;
          border: 2px solid #f3d00b;
          transition: all 500ms ease;
          color: #1c1c1c;
        }
      }
    }
  }
}

h2 {
  padding-top: 50px;
  padding-bottom: 1%;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
}

.jewelry {
  margin-top: 50px;
  margin-bottom: 100px;
  row-gap: 1rem;

  a {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      color: #f3d00b;
    }
  }

  p {
    font-weight: 400;
  }

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #000000;
    padding: 20px 0;
  }

  .rings,
  .earrings,
  .bracelets {
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }

    p {
      text-align: center;
      color: #000000;
    }
  }

  h3 {
    font-size: 20px;
  }

  .product {
    height: 300px;
    width: 300px;
    margin: 0 20px;
    padding: 0;
    cursor: pointer;

    img {
      max-width: 100%;
    }
  }
}

footer {
  background-color: #1c1c1c;
  padding: 0.5em 0 0.5em 0;

  h2 {
    color: #ffffff;
    text-align: left;
  }

  p:first-child {
    color: #f3d00b;
    font-weight: 900;
  }

  p {
    color: #e4e4e4;
  }

  .quick-links {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: #e4e4e4;
      font-size: 14px;
      transition: all 1s;
      margin: 0.3em 0;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  .attributes {
    margin-top: 50px;
    h5 {
      color: #969696;
      font-size: 14px;
      text-align: center;

      a {
        color: #f3d00b;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    padding: 10px;
  }

  /*Header section */
  header {
    position: relative;
    width: 100%;
    height: 100%;

    .hero-text {
      width: 80%;
    }
  }
}

@media (max-width: 414px) {
  /*Header section */
  header {
    position: relative;
    width: 100%;
    height: 100%;

    .main-header {
      nav {
        background-color: rgb(255, 255, 255);
        position: fixed;
        width: 100%;
        z-index: 10;

        .container-fluid {
          padding: 0.5rem 10px;
          .navbar-brand {
            text-decoration: none;

            font-weight: bold;
          }
        }

        .navbar-nav {
          .nav-item {
            .nav-link {
              color: #000000;
              text-transform: uppercase;
              font-size: 14px;
              padding: 20px 0;
              font-weight: 700;
            }
          }
        }
      }
    }

    .hero-text {
      h1 {
        color: GOLD;

        font-size: 45px;
        font-weight: bold;
      }

      .btn {
        gap: 3rem;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 375px) {
  a {
    text-decoration: none;
  }

  h2 {
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
  }

  .collection-section {
    width: 100%;

    p {
      text-align: center;
      font-size: 20px;
      padding: 100px;
    }

    a {
      position: absolute;
      top: 65%;
      left: 20%;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      border: 2px solid white;
      padding: 7px;
      background-color: transparent;

      &:hover {
        background-color: #ffffff;
        transition: all 500ms ease;
      }
    }
  }

  .jewelry {
    h3 {
      text-align: center;
      font-weight: bold;
      color: #000000;
    }

    .rings,
    .earrings,
    .bracelets {
      transition: all 0.5s;

      &:hover {
        transform: scale(1.2);
      }
    }

    h3 {
      font-size: 20px;
    }

    .product {
      height: 300px;
      width: 300px;
      margin: 0 20px;
      cursor: pointer;
    }
  }

  footer {
    padding: 0.5em 0 2em 0;

    h2 {
      color: #ffffff;
      text-align: left;
    }

    p {
      color: #e4e4e4;
    }

    .quick-links {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px;
        transition: all 1s;
        margin: 0.3em 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    form {
      p {
        font-size: 20px;
        text-transform: uppercase;
      }

      input {
        width: 60%;
        height: 40%;

        label {
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  header {
    .hero-text {
      h1 {
        color: GOLD;

        font-size: 24px;
        font-weight: bold;
      }

      .btn {
        //  position: absolute;
        margin-top: 20px;

        .button {
          margin: 3px 6px 0 0;
          padding: 7px;
          border: 2px solid white;
          //    border-radius: 10px;
          background: transparent;
          color: #ffffff;
          font-size: 15px;
          font-weight: bold;

          &:hover {
            background-color: rgb(243, 208, 11);
            color: #000000;
          }
        }
      }
    }
  }
}
