:root {
  --fs-mega-large: 5rem; //80px
  --fs-extra-large: 4rem; // 64px
  --fs-large: 3rem; //48px
  --fs-semilarge: 2rem; //32px
  --fs-medium: 1.5rem; //24px
  --fs-semimedium: 1.125rem; //18px
  --fs-normal: 1rem; //16px

  /*==================SPACING ============================*/

  --small-spacing: 10px;
  --medium-spacing: 20px;
  --large-spacing: 50px;
  --extra-large-spacing: 100px;

  /*==================COLORS============================*/
  --primary-color: #000000;
  --secondary-color: #1c1c1c;
  --accent-color: #f3d00b;
}
